body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #F5F5DC;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('../static/background.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    /*background-color: rgba(255, 255, 255, 0.8);*/
    border-radius: 10px;
}

h1 {
    color: #1e90ff;
}

h2 {
    color: #F5F5DC;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1e90ff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #4682b4;
}

.forecast-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.forecast-day {
   /* background-color: white;*/
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    margin: 10px;
    text-align: left;
}
