{% extends 'base.html' %}

{% block title %}
Home - Weather App
{% endblock %}

{% block content %}
<h1>Welcome to the Weather App</h1>
<h2>Get Current Weather by Entering a City<h2>
<form action="/weather" method="post">
    <input type="text" name="city" placeholder="City Name" required>
    <button type="submit">Check Weather</button>
</form>

<h2>Get a 5-Day Forecast for Your City</h2>
<form action="/forecast" method="post">
    <input type="text" name="city" placeholder="City Name" required>
    <button type="submit">View Forecast</button>
</form>

<h2>Get Current Weather for Your Location</h2>
<form id="locationForm" action="/location" method="post">
    <input type="hidden" name="lat">
    <input type="hidden" name="lon">
    <button type="button" onclick="getLocation()">Find Local Weather</button>
</form>

<script>
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }

    function showPosition(position) {
        var form = document.getElementById('locationForm');
        var lat = position.coords.latitude;
        var lon = position.coords.longitude;
        form.elements['lat'].value = lat;
        form.elements['lon'].value = lon;
        form.submit();
    }
</script>
{% endblock %}
